#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@


# # dh_make generated override targets
# # This is example for Cmake (See https://bugs.debian.org/641051 )
# #override_dh_auto_configure:
# #	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
# clean:
# 	@# Do nothing

# build:
# 	@# Do nothing

binary:
	mkdir -p debian/taxhub
	cp -r app/* debian/taxhub
	# Prise en compte ou non des fichiers deb
	# https://manpages.debian.org/testing/debhelper
	
	#  Installer la documentation dans le répertoire de construction du paquet 
	dh_installdocs
	# Installer les journaux de suivi des modifications (changelog) dans les répertoires de construction du paquet
	dh_installchangelogs
	# Installer les fichiers utilisés par debconf dans les répertoires de construction du paquet (templte)
	dh_installdebconf  
	# Installer des fichiers dans le répertoire DEBIAN 
	# 	paquet.postinst
	# 	paquet.preinst
	# 	paquet.postrm
	# 	paquet.prerm
	# 	paquet.triggers
	# 	paquet.shlibs
	# 	paquet.conffiles
	# 	paquet.maintscript
	dh_installdeb
	# Produire et installer le fichier de contrôle 
	dh_gencontrol
	# Créer le fichier DEBIAN/md5sums
	dh_md5sums
	# Construire des paquets binaires Debian
	dh_builddeb

	# Autres options possibles
	# dh_perl
	# dh_link
	# dh_strip_nondeterminism
	# dh_compress
	# dh_fixperms
	# dh_missing
	# dh_strip
	# dh_makeshlibs
	# dh_shlibdeps
	# dh_testroot
	# dh_prep